@import '@/assets/helpers/functionColors.scss';
/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-shop {
  background-color: $lighter-background;
  color: $link-text;
  border:none;
  transition: all .3s;
  &:hover{
    background-color: $background;
    color: $lighter-background;
  }
}

%no-hover-btn {
  background-color: $lighter-background;
  color: $link-text;
  border:none;
  background-color: $background;
  color: $lighter-background;
  &:hover{
    color: darken($lighter-background,20%);
  }
}

.notice-btn{
  border: none;
  overflow: hidden;
  font-size: 20px;
  background-color: transparent;
  color: $black;
  &:hover{
    border-color: $white;
    color: $yellow;
    background-color: $black;
  }
}

