@import '@/assets/helpers/functionColors.scss';
/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-shop {
  background-color: $lighter-background;
  color: $link-text;
  border:none;
  transition: all .3s;
  &:hover{
    background-color: $background;
    color: $lighter-background;
  }
}

%fixed-btn {
  z-index: 1000;
  background-color: $lighter-background;
  border-radius: 153px;
  position: fixed;
  bottom: 20px;
  box-shadow: 0px 0px 11px $black;
  transition: 0.3s all;
  height: 50px;
  width: 50px;
  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: $background;
  }

  &:hover {
    box-shadow: 0px 0px 11px $white;
     background-color: $background;
    .icon {
      color: $lighter-background;
    }
  }
}

%no-hover-btn {
  background-color: $lighter-background;
  color: $link-text;
  border:none;
  background-color: $background;
  color: $lighter-background;
  &:hover{
    color: darken($lighter-background,20%);
  }
}

.notice-btn{
  border: none;
  overflow: hidden;
  font-size: 20px;
  background-color: transparent;
  color: $black;
  &:hover{
    border-color: $white;
    color: $yellow;
    background-color: $black;
  }
}

