@import "~bootstrap/scss/functions";
@import "./helpers/_variables";
@import "./dashboard.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);    
@import url(https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap);
